[submodule "programming"]
	path = programming
	url = https://github.com/chantracyjames-bot/programming.git
[submodule "cs_notes"]
	path = cs_notes
	url = https://github.com/chantracyjames-bot/cs_notes.git
[submodule "p_notes"]
	path = p_notes
	url = https://github.com/chantracyjames-bot/p_notes.git
